@font-face {
  font-family: "Arimo";
  src: url("Arimo-VariableFont_wght.ttf") format("truetype");
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", Arial, sans-serif;
  background-color: #5c1ae8;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  padding: 20px;
}

code {
  display: block;
  padding: 10px 0 10px 0;
  font-family: monospace;
  font-size: 15px;
  color: #f2f2f2;
}

.left-section {
  width: 300px;
  padding: 20px;
  color: #f2f2f2;
  position: fixed;
  bottom: 10px;
  left: 30px;
}

.left-section h1 {
  font-size: 54px;
  line-height: 0.8;
  margin: 10px 0 20px 0;
}

.left-section p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.left-section span {
  font-size: 14px;
}

.right-section {
  padding: 20px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

.right-section a {
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  padding: 0;
  color: #f2f2f2;
  font-size: 15px;
  text-decoration: none;
}

.right-section .number {
  margin-right: 10px;
  font-size: 10px;
}

.center-section {
  position: fixed;
  padding: 60px 0 0 200px;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.project-card {
  background-color: #864dff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  min-height: 200px;
  width: 100%;
  transform: perspective(1000px) rotateX(var(--tilt-y)) rotateY(var(--tilt-x))
    scale3d(1, 1, 1);
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.project-card h2 {
  font-size: 18px;
  margin: 0;
}

.project-card p {
  font-size: 14px;
  margin: 10px 0 0 0;
}
